{% extends "layout_ru.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <p>Index page ru</p>
    <form action="request_car" method="POST">
        <select name="car" id="car" required = "required" autofocus>
            <option selected disabled value="" >Выбирайте категорию автомобиля</option>
            <option value="Category Q" >Smart Fortwo или похожая в категории Q - от 9$ в сутки</option>
            <option value="Category B" >Suzuki Alto или похожая в категории B - от 9$ в сутки</option>
            <option value="Category C" >Toyota Aygo или похожая в категории C - от 10$ в сутки</option>
            <option value="Category D" >Hyundai i20 или похожая в категории D - от 11$ в сутки</option>
            <option value="Category E" >Ford Fiesta или похожая в категории E - от 12$ в сутки</option>
            <option value="Category F" >Kia Forte или похожая в категории F - от 14$ в сутки</option>
            <option value="Category I" >Mazda 3 или похожая в категории I - от 16$ в сутки</option>
            <option value="Category H" >Honda Civic или похожая в категории H - от 22$ в сутки</option>
            <option value="Category M" >Mazda 6 или похожая в категории M - от 28$ в сутки</option>
            <option value="Category MH" >Honda Accord Hybrid или похожая в категории MH - от 38$ в сутки</option>
            <option value="Category T" >Fiat Doblo(ручник, 5 мест) или похожая в категории T - от 35$ в сутки</option>
            <option value="Category J" >Nissan Qashqai(автомат, 5 мест) или похожая в категории J - от 38$ в сутки</option>
            <option value="Category U" >Mazda 5(автомат, 7 мест) или похожая в категории U - от 35$ в сутки</option>
            <option value="Category V" >Ford Galaxy V(автомат, 7 мест) или похожая в категории V - от 52$ в сутки</option>
            <option value="Category S" >Hyundai i800(ручник, 8 мест) или похожая в категории S - от 59$ в сутки</option>
            <option value="Category V8" >Toyota Sienna(автомат, 8 мест) или похожая в категории V8 - от 75$ в сутки</option>
            <option value="Category Y" >Citroen Jumpy(ручник, 9 мест)или похожая в категории Y - от 49$ в сутки </option>
            <option value="Category Z" >Hyundai i800(автомат, 9 мест) или похожая в категории Z - от 95$ в сутки</option>
            <option value="Category R" >Chevrolet Malibu или похожая в категории R - от 52$ в сутки</option>
            <option value="Category P" >Buick LaCrosse или похожая в категории P - от 71$ в сутки</option>
            <option value="Category K" >BMW 318i или похожая в категории K - от 72$ в сутки</option>
            <option value="Category W" >BMW i535 или похожая в категории W - от 110$ в сутки</option>
            <option value="Category O" >Toyota Highlander(автомат) или похожая в категории O - от 149$ в сутки</option>
        </select>
        <input type="submit" value="ОТПРАВИТЬ" >

    </form>
{% endblock %}