{% extends "index_main_layout.html" %}
{% block content %}

{% for i in range(0,24) %}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{ Albar_my_low_price[i][4] }}" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="/{{Albar_my_low_price[i][3]}}">{{Albar_my_low_price[i][3]}} </a>
            </h4>
            <h5><br>или аналогичная машина в категории {{Albar_my_low_price[i][2]}} от {{Albar_my_low_price[i][12]}} USD/сутки</h5>
            <p class="card-text">
                Мест - {{Albar_my_low_price[i][5]}}
                <!--<br>Сумок:<br> маленьких - {{Albar_my_low_price[i][8]}} | больших - {{Albar_my_low_price[i][9]}}--></p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}