{% extends "layout_ru.html" %}
{% block content_header %}

        <div class="alert alert-primary" role="alert">
    <h1 class="text-center">{{ title }}</h1>
            <h3 class="text-center"> +972-58-7710101</h3>
        </div>

    {% for i in range(1,25) %}

        {% if Albar_my_low_price[i][7] ==  "9"  %}


            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{Albar_my_low_price[i][6]}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{Albar_my_low_price[i][3]}}</h5>
                            <p class="card-text">в категории {{Albar_my_low_price[i][2]}} <br>Мест - {{Albar_my_low_price[i][7]}} <br>Мал.сумок - {{Albar_my_low_price[i][8]}} <br>Бол.сумок - {{Albar_my_low_price[i][9]}} <br>Цена за доп километр - {{Albar_my_low_price[i][16]}} <br>Момeнт. подтверждение - {{Albar_my_low_price[i][22]}}</p>
                            <p class="card-text">НАША ЦЕНА ОТ {{Albar_my_low_price[i][18]}}$/сутки вместо <small class="text-muted">от {{Albar_reg_low_price[i][18]}} на сайте прокатчика</small></p>
                        </div>
                    </div>
                </div>
            </div>




        {% endif %}
    {% endfor %}
{% endblock %}

{% block content_right %}



{% endblock %}

{% block content_left %}
    {% for i in range(1,25) %}

        {% if Albar_my_low_price[i][7] ==  "8"  %}


            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{Albar_my_low_price[i][6]}}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{Albar_my_low_price[i][3]}}</h5>
                            <p class="card-text">в категории {{Albar_my_low_price[i][2]}} <br>Мест - {{Albar_my_low_price[i][7]}} <br>Мал.сумок - {{Albar_my_low_price[i][8]}} <br>Бол.сумок - {{Albar_my_low_price[i][9]}} <br>Цена за доп километр - {{Albar_my_low_price[i][16]}} <br>Момeнт. подтверждение - {{Albar_my_low_price[i][22]}}</p>
                            <p class="card-text">НАША ЦЕНА ОТ {{Albar_my_low_price[i][18]}}$/сутки вместо <small class="text-muted">от {{Albar_reg_low_price[i][18]}} на сайте прокатчика</small></p>
                        </div>
                    </div>
                </div>
            </div>




        {% endif %}
    {% endfor %}


{% endblock %}




{% block content_cars %}

{% for i in range(1,25) %}

    {% if Albar_my_low_price[i][7] ==  "7"  %}


        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{Albar_my_low_price[i][6]}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{Albar_my_low_price[i][3]}}</h5>
                        <p class="card-text">в категории {{Albar_my_low_price[i][2]}} <br>Мест - {{Albar_my_low_price[i][7]}} <br>Мал.сумок - {{Albar_my_low_price[i][8]}} <br>Бол.сумок - {{Albar_my_low_price[i][9]}} <br>Цена за доп километр - {{Albar_my_low_price[i][16]}} <br>Момeнт. подтверждение - {{Albar_my_low_price[i][22]}}</p>
                        <p class="card-text">НАША ЦЕНА ОТ {{Albar_my_low_price[i][18]}}$/сутки вместо <small class="text-muted">от {{Albar_reg_low_price[i][18]}} на сайте прокатчика</small></p>
                    </div>
                </div>
            </div>
        </div>




    {% endif %}
    {% endfor %}




{% endblock %}
{% block content_declamer %}

    <hr />
    ** Указанные цены соответствуют прейскуранту дилера компаний EuropCar для низкого сезона и значительно отличаются от расценок на сайте\отделении поставщика
    <br>* Указанные цены НЕ ВКЛЮЧАЮТ обязательные страховки
    <br>* Указанные цены не включают НДС(от НДС освобождены только туристы имеющие в пасторте визу В2\В3 - обязательно предоставить при получении машины)
    <br>Часы работы отделений - Аэропорт Бен Гурион 24\7, остальные отделения 8-18, пятница 8-13
    <br>Модели автомобилей представлены исключительно для примера и при выдаче компания имеет право предоставить автомобиль того же класса, но другой марки.

{% endblock %}